<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<mapper namespace="com.tyf.mapper.RoleMapper">
	<select id="getRole" paramterType="long" resultType="role">
	   select id ,roleName,note where id=#{id}
	</select>
</mapper>
